<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <variable name="Layout"
            value="${longdate} | ${pad:padding=5:fixedlength=true:inner=${level:uppercase=true}} | ${pad:padding=45:alignmentOnTruncation=left:fixedlength=true:inner=${logger}} |     ${message}"/>

  <!-- the targets to write to -->
  <targets>
    <!-- write logs to file -->
    <target xsi:type="File"
            name="allfile"
            fileName="Log-${shortdate}.log"
            layout="${Layout}" />

    <target name="c" xsi:type="ColoredConsole" useDefaultRowHighlightingRules="false" layout="${Layout}">
      <highlight-row condition="level == LogLevel.Error" foregroundColor="Red"  />
      <highlight-row condition="level == LogLevel.Fatal" foregroundColor="Magenta" />
      <highlight-row condition="level == LogLevel.Trace" foregroundColor="DarkGray"/>
      <highlight-row condition="level == LogLevel.Debug" foregroundColor="Gray"/>
      <highlight-row condition="level == LogLevel.Warn" foregroundColor="DarkYellow"/>
    </target>

    <!-- write to the void aka just remove -->
    <target xsi:type="Null" name="blackhole" />
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <!--All logs, including from Microsoft-->
    <logger name="*" minlevel="Trace" writeTo="allfile,c" />
  </rules>
</nlog>